<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>@ViewBag.Title - @Html.RenderNombreAplicacion().ToHtmlString()</title>
    
    @Styles.Render("~/Content/bundle_css")
    
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="app flex-row align-items-center">
    <div class="container">

        <div class="row justify-content-center">

            @RenderBody()

        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")


    <script type="text/javascript">
        var UtilsClass = new UtilsClass();
    </script>



    @RenderSection("scripts", required: false)


    @if (Html.RecolectarInformacionAnalisis())
    {
        @Html.Partial("_Tracking");
    }

</body>
</html>
