@model UsuarioDto

@{
    ViewBag.Title = "Seleccionar Módulo";
}

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="col-md-8">

    @using (Html.BeginForm("SeleccionarModulo", "Acceso", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frmEdit", @class = "", role = "form" }))

    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">


                    <h1>Seleccionar Módulo</h1>
                    <p class="text-muted">Para ingresar debe seleccionar un Módulo</p>

                    <div class="input-group mb-3">
                        <label class="@("col-md-12 " + CssClass.Form.Label)">Usuario: @Html.DisplayFor(model => model.Nombres) @Html.DisplayFor(model => model.Apellidos)</label>
                    </div>


                    <div class="input-group mb-4">
                        @Html.DropDownList("codigoModulo", new SelectList(Model.Modulos, "Codigo", "Nombre"), "Seleccione un módulo", new { @class = CssClass.Form.Control, onchange = "if (this.value) this.form.submit()" })
                    </div>

                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>
                        <h1>P M D I S</h1>
                        <h4>Project Management Data And Information System</h4>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section Scripts {
  

    <script type="text/javascript">
        $(document).ready(function () {


            //Codigo para evitar que el login se muestre en llamadas AJAX cuando termino la sesion
            var count_elements = $('.app').length;
            if (count_elements > 1) {
                window.location.href = "@com.cpp.calypso.web.Constantes.AUTENTIFICACION_LOGIN";
            }

        });
    </script>

}



