@model com.cpp.calypso.proyecto.aplicacion.DetalleGananciaDto

@{
    ViewBag.Title = "Create";
}

@section page_title {<i class="fa fa-unlock-alt"></i>Detalle Ganancia}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" style="text-align: center" role="alert">
        @ViewBag.Error
    </div>
}
@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" style="text-align: center" role="alert">
        @ViewBag.Msg
    </div>
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.GananciaId)

                <div class="form-group">
                    @Html.LabelFor(model => model.PorcentajeIncrementoId)
                    @Html.DropDownListFor(model => model.PorcentajeIncrementoId, new SelectList(Model.PorcentajesIncremento, "Id", "descripcion"), "Seleccione Porcentaje Incremento", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PorcentajeIncrementoId, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GrupoItemId)

                    @Html.DropDownListFor(model => model.GrupoItemId, new SelectList(Model.GruposItem, "Id", "descripcion"), "Seleccione Grupo", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GrupoItemId, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.valor)

                    @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">


                    <div class="checkbox">
                        @Html.HiddenFor(model => model.vigente)
                        @Html.ValidationMessageFor(model => model.vigente, "", new { @class = "text-danger", @readonly = "readonly" })

                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                    @Html.ActionLink("Regresar", "Details", "Ganancia", new { id = Model.GananciaId }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#PorcentajeIncrementoId").change(function () {

                var ofe = $(this).val();
                if (ofe > 0) {

                        $.get("/Proyecto/DetalleGanancia/ObtenerValorPorcentaje/?",
                            { id: ofe},
                            function (data) {
                                var objeto = JSON.parse(data);
                                console.log(objeto)
                           
                                $("#valor").val(objeto['valor'] );
                              
                            });
                    } else {
                    $("#valor").empty();
      
                    }
                
            })

        });
    </script>
}

