@model List<Contrato>
@{
    ViewBag.Title = "Contratos";
}

@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-1" style=" padding-top: 0.4em;">
                <i class="icon-ban icons font-4xl  mt-6" style="padding-left: 0.6em;"></i>
            </div>
            <div class="col-sm-11">
                @ViewBag.Msg
            </div>
        </div>
    </div>
}
@section page_title
{
    <h2>Contratos</h2>
}
@section page_toolbar {
    <br />
    <div class="btn-toolbar" role="toolbar">

        <a href='@Url.Action("Create", "Contrato")' class="btn btn-primary pull-right nuc_action_create">
            <i class="fa fa-plus"></i>
            Crear Contrato

        </a>
    </div>
}

<table class="table table-bordered table-hover display" id="contratos_table">

    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Empresa
            </th>
            <th>
                Cliente
            </th>

            <th>
                Descripción
            </th>

            <th>
                Estado
            </th>

            <th>Operaciones</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.razon_social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.razon_social)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>

                <td>

                    @(item.estado_contrato == true ? "Activo" : "Inactivo")
                </td>

                <td style="width: 200px;">
                    @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = "btn btn-outline-success btn-sm", style = " float:  left; margin-right: 0.3em;" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm", style = " float:  left; margin-right: 0.3em;" })
                    <div style="float: left">
                        <form action="@Url.Action("Delete","Contrato", new {id = item.Id})" method="post" class="form-inline" onsubmit="return confirm('Esta seguro de Eliminar este Registro?');">
                            <input type="submit" value="Eliminar" class="btn btn-outline-danger btn-sm" />
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Código
            </th>
            <th>
                Empresa
            </th>
            <th>
                Cliente
            </th>

            <th>
                Descripción
            </th>

            <th>
                Estado
            </th>

            <th></th>
        </tr>
    </tfoot>

</table>


    @section css {

        @Styles.Render("~/Content/bundle_css_react_primereact_v3")
    }

    <div id="content-prueba">

    </div>
    

    <script src="~/Scripts/build/vendors.js"></script>
    <script src="~/Scripts/build/pruebas.js"></script>
