@model IEnumerable<com.cpp.calypso.proyecto.aplicacion.ProcesoListaDistribucionDto>

@{
    ViewBag.Title = "Index";
}

@section page_title
{

    <h2>Procesos por lista de distribución</h2>
    <i class="fa fa-tag"></i> Listado
}


@section page_toolbar {
    <div class="btn-toolbar" role="toolbar">
        @Html.ActionLink("Nuevo", "Create", "ProcesoListaDistribucion", new { @class = "btn btn-outline-primary", style = "margin-top: 1em;" })
    </div>
}

@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-1" style=" padding-top: 0.4em;">
                <i class="icon-ban icons font-4xl  mt-auto" style="padding-left: 0.6em;"></i>
            </div>
            <div class="col-sm-11">
                @ViewBag.Msg
            </div>
        </div>
    </div>
}

<table class="table table-bordered table-hover display">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProcesoNotificacionId)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDistribucionId)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_lista)
                </td>
                <td>
                    <div style="float: left">
                        <form onsubmit="return confirm('Estás seguro?');" action="@Url.Action("Delete", new {id = item.Id})" method="post" class="form-inline">
                            <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProcesoNotificacionId)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDistribucionId)</th>
            <th></th>
        </tr>
    </tfoot>

</table>
