@model com.cpp.calypso.proyecto.aplicacion.OrdenCompraDto

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-12 col-md-8">

        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Información Orden Compra</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.vigente)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.valor_pedido_compra)
                        @Html.HiddenFor(model => model.OfertaId, new { htmlAttributes = new { @class = "form-control" } })


                         <div class="row">
                            <div class="col-xs-12 col">
                                <h6><b>Proyecto: </b>@Model.Oferta.Proyecto.codigo </h6>
                                <h6><b>Descripción:</b>@Model.Oferta.Proyecto.descripcion_proyecto </h6>

                            </div>

                            <div class="col-xs-12 col">
                                <h6><b>Oferta: </b> @Model.Oferta.codigo - @Model.Oferta.version</h6>
                                <h6><b>Descripción:</b> @Model.Oferta.descripcion</h6>

                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.LabelFor(model => model.nro_pedido_compra)
                                @Html.EditorFor(model => model.nro_pedido_compra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nro_pedido_compra, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fecha_presentacion)

                                @Html.EditorFor(model => model.fecha_presentacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fecha_presentacion, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.estado)

                                <div class="checkbox">
                                    @Html.EditorFor(model => model.estado)
                                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.referencia)

                                @Html.EditorFor(model => model.referencia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.referencia, "", new { @class = "text-danger"})
                         
                         

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.valor_pedido_compra)<br/>
                        @Html.DisplayFor(model => model.valor_pedido_compra, new { htmlAttributes = new { @class = "form-control" } })
                    </div>



                    <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                    @Html.ActionLink("Cancelar", "Index", "OrdenCompra", new { id = Model.OfertaId }, new { @class = "btn btn-outline-primary" })
     
                    }

                </div>
            </div>
            
            </div>
            </div>
