@using System.Globalization
@model com.cpp.calypso.web.Areas.Proyecto.Models.ProyectoRsoCabecera

@{
    ViewBag.Title = "Details";
}
@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-1" style=" padding-top: 0.4em;">
                <i class="icon-ban icons font-4xl  mt-6" style="padding-left: 0.6em;"></i>
            </div>
            <div class="col-sm-11">
                @ViewBag.Msg
            </div>
        </div>
    </div>
}

<div class="row">
    <div style="width:  100%;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Detalles del proyecto</h4>
                    </div>

                    <div class="col" align="right">
                        @* @Html.ActionLink("Generar Curva", "GenerarCurva", "RdoCabecera", new { id=Model.Proyecto.Id}, new { @class = " btn btn-outline-primary" })*@
                        @Html.ActionLink("Regresar", "Index", "RsoCabecera", new { @class = " btn btn-outline-primary" })
                    </div>
                    <div>


                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h6><b>Código:</b> @Model.Proyecto.codigo</h6>
                        <h6><b>Nombre del Proyecto:</b> @Model.Proyecto.nombre_proyecto</h6>
                        <h6><b>Alcance básico:</b> @Model.Proyecto.alcance_basico</h6>
                        <h6><b>Presupuesto:</b> @String.Format(CultureInfo.InvariantCulture, "{0:0,0.0}", Model.Proyecto.presupuesto)</h6>

                    </div>

                    <div class="col-xs-12 col-md-6">
                        <h6><b>Monto Ofertado:</b> @String.Format(CultureInfo.InvariantCulture, "{0:0,0.0}", Model.Proyecto.monto_ofertado)</h6>
                        <h6><b>Fecha Estimada de Inicio:</b> @Model.Proyecto.fecha_estimada_inicio</h6>
                        <h6><b>Fecha Estimada de Fin:</b> @Model.Proyecto.fecha_estimada_fin</h6>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div style="width:  100%;">

        <ul class="nav nav-tabs" id="empresa_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="requerimientos-tab" data-toggle="tab" href="#requerimientos" role="tab" aria-controls="home" aria-expanded="true">RSO</a>
            </li>

        </ul>



        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="requerimientos" role="tabpanel" aria-labelledby="requerimientos-tab">
                <div class="@Model.Proyecto.Id" id="content"></div>
            </div>

        </div>


    </div>

</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/rso_cabecera.js"></script>