@model ChangeMyPasswordViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h4 class="modal-title">
        <span>Cambiar la contraseña</span>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">

    @using (Html.BeginForm("MyChangePassword", "usuario", FormMethod.Post, new { id = "frmMyChangePassword" }))
    {

    <div class="form-horizontal">

        <div class="validation-summary-errors text-danger">

        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            @Html.PasswordFor(m => m.PasswordCurrent, new { @class = CssClass.Form.Control, placeholder = "Contraseña Actual" })
            @Html.ValidationMessageFor(m => m.PasswordCurrent, "", new { @class = "text-danger" })
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            @Html.PasswordFor(m => m.Password, new { @class = CssClass.Form.Control, placeholder = "Nueva Contraseña" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            @Html.PasswordFor(m => m.RepeatPassword, new { @class = CssClass.Form.Control, placeholder = "Confirmar Contraseña" })
            @Html.ValidationMessageFor(m => m.RepeatPassword, "", new { @class = "text-danger" })
        </div>

    </div>

    }
</div>

<div class="modal-footer">
   
    <button class="btn btn-primary"  id="usuario_my_change_password_save"
            data-loading-text="<i class='fa fa-spinner fa-pulse fa-fw'></i> Procesando..." >
        <i class="fa fa-save"></i>
        Guardar
    </button>
    @Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-default bt-cancelar", data_dismiss = "modal" })


</div>

<script src="~/Areas/Seguridad/Views/Usuario/_MyChangePassword.js"></script>
