@model com.cpp.calypso.proyecto.aplicacion.CorreoListaDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CorreoListaDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListaDistribucionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaDistribucionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.externo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.externo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vigente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vigente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
