@model com.cpp.calypso.proyecto.aplicacion.InstitucionFinancieraDto

@section page_title
{
    <i class="fa fa-tag"></i> Institución Financiera
    <h2>Ingreso</h2>
}

@{
    ViewBag.Title = "Crear";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Institución Financiera</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-group">
                    Nombre:
                    <div>
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    Dirección:
                    <div>
                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>

        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-group">
                    Teléfono:
                    <div>
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    Presona Contrato:
                    <div>
                        @Html.EditorFor(model => model.persona_contrato, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.persona_contrato, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    Concepto:
                    <div>
                        @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.concepto, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", "InstitucionFinanciera", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>



    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
