@model com.cpp.calypso.proyecto.aplicacion.AvanceIngenieriaDto

@{
    ViewBag.Title = "Crear Avance Ingeniería";
}

@section page_title
{
    <h2>Avance de Ingeniería</h2>
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                @Html.HiddenFor(model => model.OfertaId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.vigente)
                @Html.HiddenFor(model => model.monto_ingenieria)

                <div class="form-group">
                    @Html.LabelFor(model => model.alcance)
                    @Html.EditorFor(model => model.alcance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.alcance, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripcion)
                    @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.comentario)
                    @Html.TextAreaFor(model => model.comentario, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_presentacion)
                            @Html.EditorFor(model => model.fecha_presentacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fecha_presentacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_desde)
                            @Html.EditorFor(model => model.fecha_desde, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fecha_desde, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha_hasta)
                            @Html.EditorFor(model => model.fecha_hasta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fecha_hasta, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                
                <div class="row">
                   
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.monto_ingenieria)
                            @Html.DisplayFor(model => model.monto_ingenieria, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.monto_ingenieria, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-group">
                           
                            <div class="form-check">
                                @Html.EditorFor(model => model.aprobado, new { htmlAttributes = new { @class = "form-check-input" } })
                                @Html.LabelFor(model => model.aprobado, new { htmlAttributes = new { @class = "form-check-label" } })
                                @Html.ValidationMessageFor(model => model.aprobado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                @Html.ActionLink("Cancelar", "Index", "AvanceIngenieria", new { id = Model.OfertaId }, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>
