@using System.Globalization
@model com.cpp.calypso.web.Areas.Proyecto.Models.ProyectoCertificadoIngenieria

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/css/omega/theme.css" rel="stylesheet" />
<link href="~/Content/css/primereact.min.css" rel="stylesheet" />
<link href="~/Content/css/primeicons.css" rel="stylesheet" />
<link href="~/Content/css/block-ui.css" rel="stylesheet" />
<link href="~/Content/css/time-picker.css" rel="stylesheet" />

@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-1" style=" padding-top: 0.4em;">
                <i class="icon-ban icons font-4xl  mt-6" style="padding-left: 0.6em;"></i>
            </div>
            <div class="col-sm-11">
                @ViewBag.Msg
            </div>
        </div>
    </div>
}

<div class="row">
    <div style="width:  100%;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Detalles del proyecto</h4>
                    </div>

                    <div class="col" align="right">
                        @* @Html.ActionLink("Generar Curva", "GenerarCurva", "RdoCabecera", new { id=Model.Proyecto.Id}, new { @class = " btn btn-outline-primary" })*@
                        @Html.ActionLink("Regresar", "Index", "RdoCabecera", new { @class = " btn btn-outline-primary" })
                    </div>
                    <div>


                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h6><b>Código:</b> @Model.Proyecto.codigo</h6>
                        <h6><b>Nombre del Proyecto:</b> @Model.Proyecto.nombre_proyecto</h6>
                        <h6><b>Alcance básico:</b> @Model.Proyecto.alcance_basico</h6>
                        <h6><b>Presupuesto:</b> @String.Format(CultureInfo.InvariantCulture, "{0:0,0.0}", Model.Proyecto.presupuesto)</h6>

                    </div>

                    <div class="col-xs-12 col-md-6">
                        <h6><b>Monto Ofertado:</b> @String.Format(CultureInfo.InvariantCulture, "{0:0,0.0}", Model.Proyecto.monto_ofertado)</h6>
                        <h6><b>Fecha Estimada de Inicio:</b> @Model.Proyecto.fecha_estimada_inicio</h6>
                        <h6><b>Fecha Estimada de Fin:</b> @Model.Proyecto.fecha_estimada_fin</h6>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div style="width:  100%;">

        <ul class="nav nav-tabs" id="empresa_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="requerimientos-tab" data-toggle="tab" href="#requerimientos" role="tab" aria-controls="home" aria-expanded="true">Certificados</a>
            </li>

        </ul>



        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="requerimientos" role="tabpanel" aria-labelledby="requerimientos-tab">
                <table class="table table-bordered table-hover display" id="proyectos_certi">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Fecha Emisión</th>
                            <th>Fecha Corte</th>
                            <th>Periodo</th>
                            <th>Version</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Certificados)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.numero_certificado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.formatFechaEmision)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.formatFechaCorte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.periodo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.version)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.formatEstado)
                                </td>

                                <td style=" width: 280px;">
                                    @Html.ActionLink("Descargar", "CertificadoIngenieria", "AvanceIngenieria", new { id = item.Id }, new { @class = "btn btn-outline-indigo btn-sm", style = " float:  left; margin-right: 0.3em;" })
                                    <div style="float: left">
                                        <form onsubmit="return confirm('Estás seguro?');" action="@Url.Action("Aprobar", "AvanceIngenieria", new {id = item.Id})" method="post" class="form-inline">
                                            <input type="submit" value="Aprobar" class="btn btn-outline-primary btn-sm" style = "margin-right: 0.3em;"  />
                                        </form>
                                    </div>
                                    <div style="float: left">
                                        <form onsubmit="return confirm('Estás seguro?');" action="@Url.Action("AnularCertificado", "AvanceIngenieria", new {id = item.Id})" method="post" class="form-inline">
                                            <input type="submit" value="Anular" class="btn btn-outline-primary btn-sm" style = "margin-right: 0.3em;"  />
                                        </form>
                                    </div>
                                    <div style="float: left">
                                        <form onsubmit="return confirm('Estás seguro?');" action="@Url.Action("DeleteCertificado", "AvanceIngenieria", new {id = item.Id})" method="post" class="form-inline">
                                            <input type="submit" value="Eliminar" class="btn btn-outline-danger btn-sm" style ="margin-right: 0.3em;" />
                                        </form>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>
            </div>

        </div>


    </div>

</div>
