@model com.cpp.calypso.proyecto.aplicacion.ComputoPresupuestoDto

@{
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Item Precio</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
      
        @Html.HiddenFor(model => model.ItemId)
             @Html.HiddenFor(model => model.cantidad)
        @Html.HiddenFor(model => model.precio_unitario)
        @Html.HiddenFor(model => model.costo_total)
        @Html.HiddenFor(model => model.estado)
        @Html.HiddenFor(model => model.precio_base)
        @Html.HiddenFor(model => model.precio_incrementado)
        @Html.HiddenFor(model => model.precio_aplicarse)
        @Html.HiddenFor(model => model.area)
        @Html.HiddenFor(model => model.diciplina)
        @Html.HiddenFor(model => model.elemento)
        @Html.HiddenFor(model => model.actividad)
        @Html.HiddenFor(model => model.item_codigo)
        @Html.HiddenFor(model => model.item_nombre)

        <div class="form-group">
            <div class="row">
            
                <div class="col">
                    <b> Código Item</b>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Item.codigo)
                    </div>
                </div>
                <div class="col">
                    <b> Padre</b>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.nombreitem)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b> @Html.LabelFor(model => model.ItemId)</b>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Item.nombre)
                    </div>
                </div>
         </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.HiddenFor(model => model.vigente)
                    @Html.ValidationMessageFor(model => model.vigente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <b>  @Html.LabelFor(model => model.precio_unitario)</b>

            @Html.EditorFor(model => model.precio_unitario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.precio_unitario, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" disabled="disabled" />
                <input type="button" value="Cerrar" id="cerrarmodalv" class="btn btn-outline-primary">
            </div>
        </div>
    </div>
}

